@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: normal;
    src: url('/Helvetica.woff') format('woff');
}

:root {
    overflow-x: hidden;
    --color: red;
    --main: #08090A;
    --mainBackground: #131613;
    --accent: #575a5ea2;
}

* {
    margin: 0;
}

#app {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#panel {
    z-index: 9999;
    background-color: var(--accent);
    width: 45px;
    right: 0;
    height: 100%;
    transition: 0.5s ease-in-out;
    position: absolute;
    display: flex;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;

}

.mf-cursor::before {
    width: 96px !important;
    height: 96px !important;
    top: -48px !important;
    left: -48px !important;
    border: 2px solid white;
}

.mf-cursor {
    transition:
        opacity .25s ease,
        transform .25s ease;
    z-index: 999999999 !important;
    color: #333333;
}

.mf-cursor.-fade-out {
    opacity: 0;
    transform: scale(0);
    cursor: pointer;
}

.scl {
    transform: scaleX(0);
    transform-origin: top center;
}

.scln {
    transform: scaleX(0);
    transform-origin: bottom center;
}

svg,
path {
    transition: all 200ms ease-in-out;
    pointer-events: none;
}

.vertwr {
    background-color: #57605d;
    padding: 7px 14px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.selected {
    transform: scale(1.05);
    background-color: #a7afac;
    z-index: 999999;
}

.checkbox {
    appearance: none;
    width: 13px;
    height: 13px;
    background: #3b3b3b;
    cursor: default;
    box-sizing: border-box;
    padding: initial;
    border: 1px solid #606060;
    border-radius: 4px;
    margin: 3px 3px 3px 4px;
}

.checkbox:hover {
    border: 1px solid #929292;
}

input[type="checkbox"]:checked {
    appearance: auto;
    accent-color: #929292;
    color: #08f;
}

.TextField {
    background-color: #222;
    border: 1px solid transparent;
    color: #888;
}

#extraInfo {
    font-family: Helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255, 0.334);
    margin-left: 8px;
    margin-right: 10px;
}

input.Number {
    cursor: ns-resize;
    background-color: transparent;
    user-select: none;
    border: none;
    outline: none;
    width: 50px;
    color: #08f !important;
    font-size: 12px;
    border: 0px;
    padding: 2px;
}

input {
    vertical-align: middle;
    outline: none;
    border: none;
}

select {
    appearance: none;
    outline: none;
    -webkit-appearance: none;
    border: none;
    border-radius: 0px;
    padding: 2px 3px;
}

input:not([type="range" i], [type="checkbox" i], [type="radio" i]) {
    overflow-clip-margin: 0px !important;
    overflow: clip !important;
}

button {
    border: 0px;
    margin: 0px;
    padding: 5px 8px;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #222823;
    cursor: pointer;
    color: rgb(204, 204, 204);
    outline: none;
}

button:hover {
    background-color: #224985c2;
}

.title {
    width: 140px;
}

button:active {
    background-color: #285aa6e0
}

.DisplayDiv {
    display: flex;
    color: #858585;
    font-size: 14px;
    font-weight: 300;
    font-family: Helvetica;
    gap: 20px;
    width: 90px;
}

input:focus {
    outline: none;
}

input:active {
    outline: none;
}

.jsonDiv {
    height: 80%;
    width: 100%;
    color: white;
}

input.Number::selection {
    outline: none;
    background-color: transparent;
    border-color: transparent;
}

.panelOpen {
    display: block !important;
}

#panelContainer {
    background-color: var(--mainBackground);
}

.Text {
    cursor: default;
    display: inline-block;
    width: 140px;
    font-size: 14px;
    color: #858585;
}

.Row {
    display: flex;
    align-items: center;
    min-height: 24px;
    margin-bottom: 10px;
}

#objectPanel,
#geometryPanel,
#materialPanel {
    height: 100%;
    display: none;
    flex-direction: column;
    /* padding: 5px 10px; */
    font-family: Helvetica, Arial, sans-serif;
    padding: 20px 10px 10px 10px;
}

#layersControl {
    background-color: var(--main);
    width: 100%;
    display: flex;
    justify-items: center;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
}

.layer {
    width: 100%;
    color: rgba(255, 255, 255, 0.334);
    position: relative;
    padding: 3px;
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
    border: 1px solid transparent;
    user-select: none;
    -webkit-user-select: none;

}

.layer:hover {
    background-color: #224985c2;
}

.layerActive {
    background-color: #285aa6e0 !important;
}

#layersControl .type {
    display: inline-block !important;
    width: 14px;
    height: 14px;
    color: white !important;
    text-align: center;
}

#layersControl .type.camera {
    color: red !important;
}

#layersControl .type.light {
    color: rgba(225, 165, 0, 0.98) !important;
}

#layersControl .type.mesh {
    color: rgba(105, 225, 0, 0.757) !important;
}

#layersControl .type.geometry {
    color: rgba(225, 109, 0, 0.757) !important;
}

#layersControl .type.material {
    color: rgba(0, 225, 150, 0.757) !important;
}

#layersControl .type::after {
    content: '●';
}

#layersControl .opener {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0px 4px;
    vertical-align: top;
    text-align: center;
}

.grid-layout {
    justify-items: center;
    align-content: flex-start;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: normal;
    user-select: none;
    -webkit-user-select: none;
    overflow-y: scroll;
    padding-top: 20px;

}

.ObjectsContainer {
    width: 100%;
    height: 100%;
    background-color: var(--mainBackground);
}
#effectsPanel {
    display: flex;
    flex-direction: column;
    gap: 4px;

}
.effect span{
    color: white;
    font-family: Helvetica;
    text-align: center;
    margin-left: 5px;
}
.effect {
    padding: 15px 10px;
    display: flex;
    background: var(--main);
    color: var(--accent);
    user-select: none;
}
.handle{
    cursor: grab;
    color:#aaa;
}
.handle:active {

    cursor: grabbing;

}
#layersControlContainer {
    height: 30%;
    justify-items: center;
    background-color: #131613;
    display: flex;
    padding: 10px;
    min-height: 160px;

    z-index: 999;
}

#meshComponentContainer {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #222823;

}

#compProps {
    width: 70%;
}

.settingSelect {
    appearance: auto;
    padding: 2px;
    width: 150px;
    border: 3px solid #ddd;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    background-color: #222;
    color: #aaa;
    border-color: #222;
}

#sceneSettings {
    display: flex;
    width: 100%;
    height: 30%;
    max-height: 120px;
    background-color: var(--mainBackground);
    padding: 10px 0;
    z-index: 99;
    flex-direction: column;
    justify-content: space-evenly;
}

.tabs {
    padding: 5px 10px;
    color: #a5a5a5;
    font-size: 14px;
    display: flex;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    margin: 0;
}

.menu-tab {
    padding: 10px;
    background-color: #060606;
    color: #a5a5a5;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    margin: 0;
}

.optrans {
    width: 450px !important;
}

#language-jsContain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
}

.option {
    width: fit-content;
    transition: all 200ms ease-in-out;
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.opop {
    background-color: var(--main);
}

.prototype {
    /* border-radius: 20px; */
    background-color: #040404;
    height: 130px;
    width: 175px;
}

.prototypeContainer {
    padding: 10px;
    display: flex;
    cursor: grab;
    flex-direction: column;
}

.ll {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    padding: 14px 0;
    font-size: 14px;
    font-style: normal;
}

#infoPanel {
    display: flex;
    flex-direction: column;
    width: fit-content;
    color: white;
    position: absolute;
    padding: 60px 20px;
}

#field {}